<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <!--&lt;!&ndash; properties &ndash;&gt;-->
        <!--<property name="connection.datasource">dataSource</property>-->

        <!--&lt;!&ndash; cache settings &ndash;&gt;-->
        <!--<class-cache class="org.hibernate.auction.Item" usage="read-write"/>-->
        <!--<class-cache class="org.hibernate.auction.Bid" usage="read-only"/>-->
        <!--<collection-cache collection="org.hibernate.auction.Item.bids" usage="read-write"/>-->

        <mapping class="konra.model.User"/>
        <mapping class="konra.model.game.CharacterConfig"/>
        <mapping class="konra.model.game.location.LocationConfig"/>
        <mapping class="konra.model.game.location.Element"/>
        <mapping class="konra.model.game.EnemyConfig"/>

    </session-factory>

</hibernate-configuration>